mixin modal(id, header, primary, secondary, form, errorText)
    div.modal.fade(role='dialog', tabindex='-1', id=id)&attributes(attributes)
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h5.modal-title= header
                    button.close(type='button', data-dismiss='modal', aria-label=__('Close'))
                        span(aria-hidden='true') &times;
                div.modal-body
                    block
                div.modal-footer
                    if errorText
                        div.alert.alert-danger.collapse(id=`${id}Error`)= errorText
                    button.btn.btn-primary(type=form ? 'submit' : 'button', form=form || '', id=`${form}Submit`)= primary
                    button.btn.btn-secondary(type='button', data-dismiss='modal')= secondary

mixin wideModal(id, header, primary, secondary, form, errorText)
    div.modal.fade(role='dialog', tabindex='-1', id=id)&attributes(attributes)
        div.modal-dialog.modal-lg(role='document')
            div.modal-content
                div.modal-header
                    h5.modal-title= header
                    button.close(type='button', data-dismiss='modal', aria-label=__('Close'))
                        span(aria-hidden='true') &times;
                div.modal-body
                    block
                div.modal-footer
                    if errorText
                        div.alert.alert-danger.collapse(id=`${id}Error`)= errorText
                    button.btn.btn-primary(type=form ? 'submit' : 'button', form=form || '', id=`${form}Submit`)= primary
                    button.btn.btn-secondary(type='button', data-dismiss='modal')= secondary

mixin deleteModal(id, header, errorText, deleteAction, redrawTable)
    div.modal.fade(role='dialog', tabindex='-1', id=id)&attributes(attributes)
        div.modal-dialog(role='document')
            div.modal-content
                div.modal-header
                    h5.modal-title= header
                    button.close(type='button', data-dismiss='modal', aria-label=__('Close'))
                        span(aria-hidden='true') &times;
                div.modal-body
                    block
                div.modal-footer
                    if errorText
                        div.alert.alert-danger.collapse(id=`${id}Error`)= errorText
                    button.btn.btn-danger.ajax-btn(type='button',
                                                id=`${id}Submit`,
                                                data-method='DELETE',
                                                data-action=deleteAction,
                                                data-error=`#${id}Error`
                                                data-modal=`#${id}`
                                                data-redraw-table=redrawTable)= __('Delete')
                    button.btn.btn-secondary(type='button', data-dismiss='modal')= __('Abort')
