main.jumbotron.text-center(role='main')
  h1.display-2.animated.infinite.slower.shake= __('PARTY')
  h1.display-2= __('hard')
  p.lead= __('ORGANIZE')
  p.lead!= __('harder')
  hr.my-4
  p= __('If you got an invite please click here')
  a.btn.btn-primary.btn-lg.w-25.btn-jumbo(href='/invite')= __('Invite')
