main.jumbotron.text-center(role='main')
  h1.display-2.animated.infinite.slower.shake= __('30')
  h1.display-2= __('years')
  p.lead= __('Benny gets 30')
  p.lead!= __('And he wants <strong>YOU</strong> to be there ;)')
  hr.my-4
  p= __('If you got an invite please continue to the invite section')
  a.btn.btn-primary(href='/invite')= __('Invite')
