
include ../includes/_modals.pug

div.container.bg-light.mt-2.p-4
  div.row
    div.col
      div.alert.alert-success.my-2
        h4.alert-heading= __('You\'re in, {{title}}!', { title: invite.title })
        p= __('Please take 5 more minutes to help us organize this event.')

div.container.bg-light.mt-4.p-4
  div.row
    div.col
      h2
        i.fas.fa-users
        |
        |
        = __('Who\'s coming?')
  each guest, index in guests
    if index > 0
       div.row
        div.col
          hr.m-1
    div.row.my-1
      div.col-4.d-flex
        span.mx-2.h5.align-self-center.mt-0= guest.name
      div.col.d-flex
        div.align-self-center
          input(type='checkbox'
                id=`comming_${guest._id}`
                checked=(guest.state === 'attending')
                data-height="28"
                data-change-api=`/invite/${invite.token}/gstate/${guest._id}`
                data-toggle='toggle'
                data-on=__('Coming')
                data-off=__('Not coming')
                data-onstyle='success'
                data-offstyle='danger')
      div.col(data-visible-when=`#comming_${guest._id}`)
        div.my-0.d-flex
          a.btn-sm.btn-secondary.align-self-start(href='#', data-toggle='modal', data-target='#setDietModal', data-id=guest._id)
            i.fas.fa-pen
          div.ml-1.align-self-center.h5
            if (!guest.allergy || guest.allergy.length === 0) && (!guest.diet || guest.diet.length === 0)
              span= __('No allergies or special diet')
            else
              for allergy in guest.allergy
                span.mx-1.badge.badge-pill.badge-danger
                  i.fas.fa-allergies
                  |
                  |
                  = allergy
              for diet in guest.diet
                span.mx-1.badge.badge-pill.badge-warning
                  i.fas.fa-utensils
                  |
                  |
                  = diet

div.container.bg-light.mt-4.p-4
  div.row
    div.col
      h2
        i.fas.fa-share-alt
        |
        |
        = __('Share the invite')
  div.card.mb-3
    div.card-body
      i.fas.fa-question-circle.fa-pull-right
      div= __('Each guest is welcomed to create an account on this page in order to stay informed.')
      div= __('You can send each guest a custom invite link or create an account for them.')
  each guest, index in guests
    if index > 0
       div.row
        div.col
          hr.m-1
    div.row.my-1
      div.col-4.d-flex
        span.mx-2.h5.my-0.align-self-center= guest.name
      div.col
        a.btn.btn-outline-info.p-0(href='#', data-toggle='modal', data-target='#forwardModal', data-id=guest._id)
          div.px-3.py-2(data-toggle='tooltip', data-title=__('Send custom invite'))
            i.fas.fa-arrow-right.mr-1
            i.fas.fa-envelope
        a.btn.btn-outline-info.p-0.ml-2(href=guest.inviteLink, target='_blank')
          div.px-3.py-2(data-toggle='tooltip', data-title=__('Create user account'))
            i.fas.fa-user.mr-1
            i.fas.fa-asterisk


+modal('forwardModal',
            __('Forward invite'),
            __('Send'),
            __('Abort'),
            'forwardForm',
            __('Error while transmitting message'))(class='clear-form populate-form')
  form.ajaxForm.needs-validation.page-refresh#forwardForm(data-modal='#forwardModal',
                                    data-error='#forwardModalError',
                                    data-fill-method='GET'
                                    method='POST',
                                    action=`/invite/${invite.token}/ginvite/{id}`)
    div.alert.alert-warning
      div.h5= __('This link is only for this guest')
      div.input-group
        div.input-group-prepend
          span.input-group-text
            i.fas.fa-user
        input.form-control(type='text', name='name', readonly)
    div.alert.alert-info
      div.h5= __('You can eighter fill out the e-mail address below to send this link or copy & paste it into any messager app')
      div.input-group
        div.input-group-prepend
          span.input-group-text
            i.fas.fa-link
        input.form-control(type='text', name='inviteLink', readonly, id='inviteLink')
        div.input-group-append
          button.btn.bg-light.btn-outline-secondary(data-toggle='tooltip', data-title=__('Copy to clipboard'), data-copy-target='#inviteLink')
            i.fas.fa-clipboard
    div.input-group
      div.input-group-prepend
        span.input-group-text
          i.fas.fa-at
      input.form-control(type='email', name='mail', required, placeholder=__('Enter the e-mail address of the guest'))

+modal('setDietModal',
            __('Allergies & Diet'),
            __('Save'),
            __('Abort'),
            'dietForm',
            __('Error while transmitting data'))(class='clear-form populate-form')
        form.ajaxForm.needs-validation.page-refresh#dietForm(data-modal='#setDietModal',
                                    data-error='#setDietModalError',
                                    data-fill-method='GET'
                                    method='PUT',
                                    action=`/invite/${invite.token}/gdiet/{id}`)
          div.endlessInput(data-input-template='#allergieTemplate')
            div.form-group.row.collapse#allergieTemplate
              label.col-sm-2.col-form-label
                span.h4
                  i.fas.fa-allergies.fa-pull-right
              div.col-sm-10
                input.form-control(type='text', name='allergy%s', placeholder=__('%s. Allergy'))
          div.endlessInput(data-input-template='#dietTemplate')
            div.form-group.row.collapse#dietTemplate
              label.col-sm-2.col-form-label
                span.h4
                  i.fas.fa-utensils.fa-pull-right
              div.col-sm-10
                input.form-control(type='text', name='diet%s', placeholder=__('%s. Diet'))