div.container.bg-light.mt-2
  div.row
    div.col.text-center
      h1.h1.my-4 PARTY PARTY PARTY
  div.row
    div.col.bg-warning.text-center
      h2.mt-4= guest.name
      h4.mb-4= __('You\'re invited to the party')
  div.row.m-4.pb-4
    div.col.text-center
      h2.text-uppercase= __('Stay informed')
      p= __('Recieve the latest information about the schedule and location of the event')
    div.col.text-center
      h2.text-uppercase= __('Stay connected')
      p= __('Connect with other guests and share a combined experience')
div.container.bg-light.mt-2
    div.row
        div.col.text-center.mt-4
            h2.text-uppercase= __('Register now')
    div.row
        div.col.text-center
            p Google
    div.row
        div.col.text-center
            p FB
    div.row
        div.col.text-center
            p ...
    div.row.d-flex.my-3
        div.col-2.col-sm-3.offset-2.align-self-center.w-100
            div.border-top.border-dark
        div.col-4.col-sm-2.text-center
            span= __('or sign up here')
        div.col-2.col-sm-3.align-self-center.w-100
            div.border-top.border-dark
    div.row
        div.col.col-sm-8.offset-sm-2.col-md-6.offset-md-3.col-lg-4.offset-lg-4.mb-4
            form(method='post')
                div.row.input-group.mx-0.my-1
                    div.input-group-prepend
                        div.input-group-text
                            i.fas.fa-at
                    input.form-control(type='email', name='mail', placeholder=__('Email address'), value= guest.email)
                div.row.input-group.mx-0.my-1
                    div.input-group-prepend
                        div.input-group-text
                            i.fas.fa-key
                    input.form-control(type='password', name='password', placeholder=__('Password'))
                div.row.input-group.mx-0.my-1
                    div.input-group-prepend
                        div.input-group-text
                            i.fas.fa-redo
                    input.form-control(type='password', name='password2', placeholder=__('Reenter Password'))
                div.row.my-1.mx-1
                    button.btn.btn-primary.w-100(type='submit')= __('Sign up')


