extends main_layout.pug

include includes/_modals.pug
include includes/_forms.pug

block content
  form.ajaxForm.needs-validation(method="post")
    input(type='hidden', name='_csrf' value=csrfToken)
    div.container.bg-light.mt-2.p-4
      div.row.mb-2
        div.col-6.col-sm-4.col-md-3.col-lg-2
          a(href='#', data-toggle='modal', data-target='#changeAvatarModal')
            div.border.rounded-circle.border-dark
              div.d-flex.position-relative.clip-circle
                img.rounded-circle.w-100(src=identity.picture || '/img/avatar.svg')
                div.align-self-center.text-white.font-weight-bold.position-absolute.text-center.text-uppercase.w-100.show-hover.p-2.bg-t80-blue= __('change')
        div.col-6.col-sm-8.position-relative
          h1.position-absolute.bottom-0= identity.name

    div.container.bg-light.mt-2.px-4.pt-4
      div.row
        div.col-2
          p.lead= __('Kontact')
        div.col-12.col-md-8
            div.form-group.row
              label.col-sm-2.col-form-label(for='email')= __('Email')
              div.col-sm-10
                input.form-control(type='email', name='email', value=guest.email)
            div.form-group.row
              label.col-sm-2.col-form-label(for='phone')= __('Phone')
              div.col-sm-10
                input.form-control(type='tel', name='phone', value=guest.phone)

    div.container.bg-light.mt-2.px-4.pt-4
      div.row
        div.col-12.col-md-2
          p.lead= __('Allergies & Diets')
        div.col-12.col-md-8
          div.endlessInput(data-input-template='#allergieTemplate', data-start-index=(guest.allergy ? guest.allergy.length + 1 : 1))
            div.form-group.row.collapse#allergieTemplate
              label.col-sm-2.col-form-label
                span.h4
                  i.fas.fa-allergies.fa-pull-right
              div.col-sm-10
                input.form-control(type='text', name='allergy%s', placeholder=__('%s. Allergy'))
            if guest.allergy
              each allergy,index in guest.allergy
                div.form-group.row
                  label.col-sm-2.col-form-label
                    span.h4
                      i.fas.fa-allergies.fa-pull-right
                  div.col-sm-10
                    input.form-control(type='text', name=`allergy${index+1}`, value=allergy, placeholder=__(`{{no}}. Allergy`, {no: index + 1}))
          div.endlessInput(data-input-template='#dietTemplate', data-start-index=(guest.diet ? guest.diet.length + 1 : 1))
            div.form-group.row.collapse#dietTemplate
              label.col-sm-2.col-form-label
                span.h4
                  i.fas.fa-utensils.fa-pull-right
              div.col-sm-10
                input.form-control(type='text', name='diet%s', placeholder=__('%s. Diet'))
            if guest.diet
              each diet,index in guest.diet
                div.form-group.row
                  label.col-sm-2.col-form-label
                    span.h4
                      i.fas.fa-utensils.fa-pull-right
                  div.col-sm-10
                    input.form-control(type='text', name=`diet${index+1}`, value=diet, placeholder=__(`{{no}}. Diet`, {no: index + 1}))

    div.container.bg-light.mt-2.p-4
      div.row
        div.col
          button.btn.btn-primary.w-100(type='submit')= __('Save')

  +modal('changeAvatarModal',
                __('Change Avatar'),
                __('Save'),
                __('Abort'),
                'changeAvatarForm',
                __('Error while transmitting data'))
    form#changeAvatarForm(method='post', action='/profile/avatar', enctype='multipart/form-data')
      input(type='hidden', name='_csrf' value=csrfToken)
      +editFormInput('avatar', __('Avatar'), '', true, __('This field is required'), 'file', 10, 'form-control-file')