extends ../manage_layout.pug

include ../../includes/_modals.pug
include ../../includes/_icons.pug
include ../../includes/_forms.pug


block content
    span.table-add.float-right.mb-3.mr-2
        a.text-dark.mx-2(href='/manage/invites/qrprint', data-toggle='tooltip', title=__('Print QR Codes to place on invitations'))
            i.fas.fa-qrcode.fa-2x(aria-hidden='true')
        a.text-success(href='#', data-toggle='modal', data-target='#addInviteModal')
            i.fas.fa-plus.fa-2x(aria-hidden='true')

    table.data-table.table.table-responsive-md#invitesTable(data-page-length='25',
                                                        data-invitee-column='2'
                                                        data-state-column='0'
                                                        data-action-column='4'
                                                        data-delete-modal='#deleteInviteModal'
                                                        data-edit-modal='#editInviteModal'
                                                        data-edit-form='#editInviteForm'
                                                        data-order='[[ 0, "asc" ]]',
                                                        data-ajax='/manage/invites/list',
                                                        data-columns='[{"data": "state", "className": "dt-body-center"},{"data": "title"},{"data": "guests.length"},{"data": "token"},{"data": "_id"}]')
        colgroup
            col(width='1')
            col(width='50%')
            col(width='25%')
            col(width='25%')
            col(width='1')
        thead
            tr
                th
                    i.fas.fa-envelope-open.d-md-none(data-toggle='tooltip', data-title=__('State'))
                    span.d-none.d-md-block= __('State')
                th
                    i.fas.fa-signature.d-md-none(data-toggle='tooltip', data-title=__('Title'))
                    span.d-none.d-md-block= __('Title')
                th
                    i.fas.fa-user-friends.d-md-none(data-toggle='tooltip', data-title=__('Guests'))
                    span.d-none.d-md-block= __('Guests')
                th
                    i.fas.fa-key.d-md-none(data-toggle='tooltip', data-title=__('Code'))
                    span.d-none.d-md-block= __('Code')
                th
                    i.fas.fa-asterisk.d-md-none(data-toggle='tooltip', data-title=__('Action'))
                    span.d-none.d-md-block= __('Action')

    +wideModal('addInviteModal',
                __('Add Invite'),
                __('Add'),
                __('Abort'),
                'addInviteForm',
                __('Error while transmitting data'))(class='clear-form')
        form.ajaxForm.needs-validation#addInviteForm(data-modal='#addInviteModal',
                                data-error='#addInviteModalError',
                                data-redraw-table='#invitesTable'
                                method='post',
                                action='/manage/invites')
            +editFormInput('title', __('Title'), __('A descriptive title'), true, __('This field is required'))
            +editFormGroup('type', __('Type'))
                div.btn-group.btn-group-toggle(data-toggle='buttons', data-default-value='guestlist', data-default-hide='.newInviteToggle' data-default-show='#newGuestlist')
                    label.btn.lazy-tooltip.btn-gender-d.active
                        input(type='radio', name='type', value='guestlist', autocomplete='off', data-toggle='radio' data-target='.newInviteToggle', checked)
                        span(data-toggle='tooltip', title=__('Choose recipients from the guest list'))
                            i.fas.fa-user-friends
                            |
                            |
                            = __('Guest-List')
                    label.btn.lazy-tooltip.btn-gender-d
                        input(type='radio', name='type', value='wildcard', autocomplete='off', data-toggle='radio' data-target='.newInviteToggle')
                        span(data-toggle='tooltip', title=__('Send a first-come first-in invite to a group of people'))
                            i.fas.fa-ticket-alt
                            |
                            |
                            = __('Wildcard')
            div.newInviteToggle.collapse.show#newGuestlist
                +editFormGroup('guests', __('Invitees'))
                    select.form-control.quickMultiSelect(name='guests', multiple='multiple', data-left-header= __('Guests'), data-right-header= __('Selected'), data-placeholder= __('Search...'))
                        each guest in guests
                            option(value= guest._id)= `${guest.name} ${guest.group ? `(${guest.group})` : ''}`
            div.newInviteToggle.collapse
                +editFormInput('tickets', __('Tickets'), __('Amount of free tickets'), false, __('This field is required'), 'number', 4)

    +deleteModal('deleteInviteModal',
                __('Remove Invite'),
                __('Error while sending request'),
                '/manage/invites/{id}',
                '#invitesTable')
        p= __('Remove this Invite?')
        p= __('Guests who recieved this invite will be left out...')

    +wideModal('editInviteModal',
            __('Edit Invite'),
            __('Save'),
            __('Abort'),
            'editInviteForm',
            __('Error while transmitting data'))(class='clear-form')
        form.ajaxForm.needs-validation#editInviteForm(data-modal='#editInviteModal',
                                    data-error='#editInviteModalError',
                                    data-redraw-table='#invitesTable',
                                    data-fill-method='GET'
                                    method='PUT',
                                    action='/manage/invites/{id}')
            +editFormInput('title', __('Title'), __('A descriptive title'), true, __('This field is required'))
            +editFormGroup('type', __('Type'))
                div.btn-group.btn-group-toggle(data-toggle='buttons')
                    label.btn.lazy-tooltip.btn-gender-d
                        input(type='radio', name='type', value='guestlist', autocomplete='off', data-toggle='radio' data-target='.editInviteToggle' data-show='#editGuestlist')
                        span(data-toggle='tooltip', title=__('Choose recipients from the guest list'))
                            i.fas.fa-user-friends
                            |
                            |
                            = __('Guest-List')
                    label.btn.lazy-tooltip.btn-gender-d
                        input(type='radio', name='type', value='wildcard', autocomplete='off', data-toggle='radio' data-target='.editInviteToggle' data-show='#editWildcard')
                        span(data-toggle='tooltip', title=__('Send a first-come first-in invite to a group of people'))
                            i.fas.fa-ticket-alt
                            |
                            |
                            = __('Wildcard')
            div.editInviteToggle.collapse#editGuestlist
                +editFormGroup('guests', __('Invitees'))
                    select.form-control.quickMultiSelect(name='guests', multiple='multiple', data-left-header= __('Guests'), data-right-header= __('Selected'), data-placeholder= __('Search...'))
                        each guest in guests
                            option(value= guest._id)= `${guest.name} ${guest.group ? `(${guest.group})` : ''}`
            div.editInviteToggle.collapse#editWildcard
                +editFormInput('tickets', __('Tickets'), __('Amount of free tickets'), false, __('This field is required'), 'number', 4)