extends manage_layout.pug

include ../includes/_modals.pug
include ../includes/_icons.pug
include ../includes/_forms.pug

mixin ageBtn(age, name)
    label.btn.btn-gender-d.lazy-tooltip(data-toggle='tooltip', title=__(ages[age]))
        input(type='radio', name=name, value=age, autocomplete='off')
        +ageIcon(age)

mixin genderBtn(gender, name)
    label.btn.lazy-tooltip(class=`btn-gender-${gender}`, data-toggle='tooltip', title=__(genders[gender]))
        input(type='radio', name=name, value=gender, autocomplete='off')
        +genderIcon(gender)

mixin expectationBtn(expectation, name, defaultValue)
    label.btn.lazy-tooltip(class=`btn-expectation-${expectation} ${(defaultValue===expectation) ? 'active' : ''}`, data-toggle='tooltip', title=__(expectations[expectation]))
        input(type='radio', name=name, value=expectation, autocomplete='off')
        +expectationIcon(expectation)

block content
    span.table-add.float-right.mb-3.mr-2
        a.text-success(href='#', data-toggle='modal', data-target='#addGuestModal')
            i.fas.fa-plus.fa-2x(aria-hidden='true')
    table.data-table.table.table-responsive-md#guestsTable(data-page-length='25',
                                                        data-gstate-column='0'
                                                        data-age-column='2'
                                                        data-gender-column='3'
                                                        data-expected-column='4'
                                                        data-action-column='5'
                                                        data-delete-modal='#deleteGuestModal'
                                                        data-edit-modal='#editGuestModal'
                                                        data-edit-form='#editGuestForm'
                                                        data-group-column='6'
                                                        data-order='[[ 2, "asc" ]]',
                                                        data-ajax='/manage/guests/list',
                                                        data-columns='[{"data": "state"},{"data": "name"},{"data": "age", "className": "dt-body-center"},{"data": "gender", "className": "dt-body-center"},{"data": "expected", "className": "dt-body-center"},{"data": "_id"},{"data": "group"}]')
        colgroup
            col(width='1')
            col(width='100%')
            col(width='1')
            col(width='1')
            col(width='1')
            col(width='1')
            col(width='1')
        thead
            tr
                th
                    i.fas.fa-envelope-open.d-md-none(data-toggle='tooltip', data-title=__('State'))
                    span.d-none.d-md-block= __('State')
                th
                    i.fas.fa-signature.d-md-none(data-toggle='tooltip', data-title=__('Name'))
                    span.d-none.d-md-block= __('Name')
                th
                    i.fas.fa-calendar-alt.d-md-none(data-toggle='tooltip', data-title=__('Age'))
                    span.d-none.d-md-block= __('Age')
                th
                    i.fas.fa-venus-mars.d-md-none(data-toggle='tooltip', data-title=__('Gender'))
                    span.d-none.d-md-block= __('Gender')
                th
                    i.fas.fa-theater-masks.d-md-none(data-toggle='tooltip', data-title=__('Expected'))
                    span.d-none.d-md-block= __('Expected')
                th
                    i.fas.fa-asterisk.d-md-none(data-toggle='tooltip', data-title=__('Action'))
                    span.d-none.d-md-block= __('Action')
                th Group

    +wideModal('addGuestModal',
                __('Add Guests'),
                __('Add'),
                __('Abort'),
                'addGuestForm',
                __('Error while transmitting data'))(class='clear-form')
        form.endlessInput.ajaxForm.needs-validation#addGuestForm(data-input-template='#inputTemplate',
                                                data-modal='#addGuestModal',
                                                data-error='#addGuestModalError',
                                                data-redraw-table='#guestsTable'
                                                method='post',
                                                action='/manage/guests')
            div.form-row
                div.form-group.col-6.mb-0
                    label(for='group')= __('Group')
                    input.form-control(type='text', name='group', placeholder=__('Group caption'))
                div.form-group.col-6.mb-0
                    label(for='address')= __('Address')
                    input.form-control(type='text', name='address', placeholder=__('Home address'))
            div.form-group
                hr
            div.form-row.collapse#inputTemplate
                div.form-group.col-sm-12.col-md-6.col-lg-4.mb-1.mb-md-2
                    input.form-control(type='text', name='guest%sname', placeholder=__('%s. Guest'))
                div.form-group.col-sm-6.col-md-6.col-lg-4.mb-1.mb-md-2
                    div.btn-group.btn-group-toggle(data-toggle='buttons')
                        each text, age in ages
                            if age !== 'undefined'
                                +ageBtn(age, 'guest%sage')

                div.form-group.col-3.col-lg-2.mb-1.mb-md-2.mr-2.mr-sm-0.px-sm-0
                    div.btn-group.btn-group-toggle(data-toggle='buttons')
                        each text, gender in genders
                            if gender !== 'undefined'
                                +genderBtn(gender, 'guest%sgender')

                div.form-group.col-3.col-lg-2.px-sm-0
                    div.btn-group.btn-group-toggle(data-toggle='buttons', data-default-value='unsure')
                        each text, expectation in expectations
                            if expectation !== 'undefined'
                                +expectationBtn(expectation, 'guest%sexpected', 'unsure')

    +deleteModal('deleteGuestModal',
                __('Remove Guest'),
                __('Error while sending request'),
                '/manage/guests/{id}',
                '#guestsTable')
        p= __('Remove this guest?')

    +modal('editGuestModal',
            __('Edit Guest'),
            __('Save'),
            __('Abort'),
            'editGuestForm',
            __('Error while transmitting data'))(class='clear-form')
        form.ajaxForm.needs-validation#editGuestForm(data-modal='#editGuestModal',
                                    data-error='#editGuestModalError',
                                    data-redraw-table='#guestsTable',
                                    data-fill-method='GET'
                                    method='PUT',
                                    action='/manage/guests/{id}')
            +editFormInput('name', __('Name'), __('Full Name'), true, __('This field is required'))
            +editFormInput('email', __('Email'), __('Email-Address'), false, '', 'email')
            +editFormInput('phone', __('Phone'), __('Phone Number'), false, '', 'tel')
            +editFormInput('group', __('Group'), __('Group caption'))
            +editFormInput('address', __('Address'), __('Home address'))
            +editFormGroup('gender', __('Gender'))
                div.btn-group.btn-group-toggle(data-toggle='buttons')
                    each text, gender in genders
                        if gender !== 'undefined'
                            +genderBtn(gender, 'gender')
            +editFormGroup('age', __('Age'))
                div.btn-group.btn-group-toggle(data-toggle='buttons')
                    each text, age in ages
                        if age !== 'undefined'
                            +ageBtn(age, 'age')
            +editFormGroup('expected', __('Expected'))
                div.btn-group.btn-group-toggle(data-toggle='buttons')
                    each text, expectation in expectations
                        if expectation !== 'undefined'
                            +expectationBtn(expectation, 'expected')
            +editFormGroup('state', __('State'))
                div.btn-group.btn-group-toggle(data-toggle='buttons')
                    label.btn.lazy-tooltip.btn-expectation-unsure(data-toggle='tooltip', title=__('Invited'))
                        input(type='radio', name='state', value='invited', autocomplete='off')
                        i.fas.fa-envelope
                    label.btn.lazy-tooltip.btn-expectation-expected(data-toggle='tooltip', title=__('Attending'))
                        input(type='radio', name='state', value='attending', autocomplete='off')
                        i.fas.fa-check
                    label.btn.lazy-tooltip.btn-expectation-unexpected(data-toggle='tooltip', title=__('Absent'))
                        input(type='radio', name='state', value='absent', autocomplete='off')
                        i.fas.fa-times
            +editFormGroup('updatedAt', __('Last Change'))
                input.form-control-plaintext(type='text', readonly, name='updatedAt', data-format='datetime')