extends manage_layout.pug

mixin tile(icon,text,link)
  a.btn.btn-dark.btn.btn-sq-lg.float-left.m-2(href=link)
    i.fa.fa-5x(class=icon)
    hr.mb-2
    div.font-weight-bold= text

block content
  h2= __('Guests')
  div.container.my-2
    div.row
      +tile('fa-user-friends', __('Guest List'), '/manage/guests')
      +tile('fa-users', __('Guest Groups'), '/manage/guest-groups')
      +tile('fa-envelope-open-text', __('Invitations'), '/manage/invites')
  hr
  h2= __('Users')
  div.container.my-2
    div.row
      +tile('fa-users-cog', __('Users'), '/manage/users')
      +tile('fa-user-tag', __('Roles'), '/manage/roles')
