extends manage_layout.pug

include ../includes/_icons.pug

mixin tile(icon,text,link)
  a.btn.btn-dark.btn.btn-sq-lg.float-left.m-2(href=link)
    i.fa.fa-4x(class=icon)
    hr.mb-2
    div.font-weight-bold.h5= text
      div
        block

block content
  div.container.h5
    div.row
      div.col-4.col-md-2
        strong= __('Guests')
      div.col-8.col-md-10
        if guestCount > 0
          each count, state in guestStates
              if count > 0
                span.badge.badge-pill.badge-dark.mx-1(data-toggle='tooltip', title=__(statesOfGuests[state]))
                  +guestStateIcon(state)
                  |
                  |
                  = count
          if Object.entries(guestAllergies).length !== 0
            span= '|'
            each count, allergy in guestAllergies
              if count > 0
                span.badge.badge-pill.badge-danger.mx-1(data-toggle='tooltip', title=allergy)
                  i.fas.fa-allergies
                  |
                  |
                  = count
          if Object.entries(guestDiets).length !== 0
            span= '|'
            each count, diet in guestDiets
              if count > 0
                span.badge.badge-pill.badge-warning.mx-1(data-toggle='tooltip', title=diet)
                  i.fas.fa-utensils
                  |
                  |
                  = count
          span= '|'
          each count, gender in guestGenders
            if count > 0
              span.badge.badge-pill.badge-secondary.mx-1(data-toggle='tooltip', title=__(genders[gender]))
                +genderIcon(gender)
                |
                |
                = count
          span= '|'
          each count, age in guestAges
            if count > 0
              span.badge.badge-pill.badge-secondary.mx-1(data-toggle='tooltip', title=__(ages[age]))
                +ageIcon(age)
                |
                |
                = count
          span= '|'
          each count, expected in guestsExpected
            if count > 0
              span.badge.badge-pill.badge-secondary.mx-1(data-toggle='tooltip', title=__(expectations[expected]))
                +expectationIcon(expected)
                |
                |
                = count
    div.row.my-2
      div.col-4.col-md-2
        strong= __('Invites')
      div.col-8.col-md-10
        if inviteCount > 0
          each count, state in inviteStates
              if count > 0
                span.badge.badge-pill.badge-dark.mx-1(data-toggle='tooltip', title=__(statesOfInvites[state]))
                  +inviteStateIcon(state)
                  |
                  |
                  = count
          span= '|'
          each count, itype in invites
            if count > 0
              span.badge.badge-pill.badge-secondary.mx-1(data-toggle='tooltip', title=__(typesOfInvites[itype]))
                +inviteTypeIcon(itype)
                |
                |
                = count

  hr

  if (access.guests || access.invites || access.qrcode)
    h2.pt-2= __('Guests')
    div.container.my-2
      div.row
        if (access.guests)
          +tile('fa-user-friends', __('Guest List'), '/manage/guests')
            span.badge.badge-secondary.mx-2= guestCount
        if (access.invites)
          +tile('fa-envelope-open-text', __('Invitations'), '/manage/invites')
            span.badge.badge-secondary.mx-2= `${inviteSum} (${inviteCount})`
        if (access.qrcode)
          +tile('fa-qrcode', __('QR-Code'), '/manage/qrcode')

  if (access.users || access.roles)
    h2.pt-4= __('Users')
    div.container.my-2
      div.row
        if (access.users)
          +tile('fa-users-cog', __('Users'), '/manage/users')
            span.badge.badge-secondary.mx-2= userCount
        if (access.roles)
          +tile('fa-user-tag', __('Roles'), '/manage/roles')
