extends manage_layout.pug

include ../includes/_icons.pug

mixin tile(icon,text,link)
  a.btn.btn-dark.btn.btn-sq-lg.float-left.m-2(href=link)
    i.fa.fa-5x(class=icon)
    hr.mb-2
    div.font-weight-bold= text

block content
  h2= __('Guests')
    span.badge.badge-secondary.mx-2= guestCount
  div.h5
    if guestCount > 0
      each count, gender in guestGenders
        if count > 0
          span.badge.badge-pill.badge-secondary.mx-1(data-toggle='tooltip', title=__(genders[gender]))
            +genderIcon(gender)
            |
            |
            = count
      span= '|'
      each count, age in guestAges
        if count > 0
          span.badge.badge-pill.badge-secondary.mx-1(data-toggle='tooltip', title=__(ages[age]))
            +ageIcon(age)
            |
            |
            = count
  div.container.my-2
    div.row
      +tile('fa-user-friends', __('Guest List'), '/manage/guests')
      +tile('fa-users', __('Guest Groups'), '/manage/guest-groups')
      +tile('fa-envelope-open-text', __('Invitations'), '/manage/invites')
  hr
  h2= __('Users')
    span.badge.badge-secondary.mx-2= userCount
  div.container.my-2
    div.row
      +tile('fa-users-cog', __('Users'), '/manage/users')
      +tile('fa-user-tag', __('Roles'), '/manage/roles')
