include ../includes/_navbar.pug

doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(name='csrf-token', content=csrfToken)
    title= title
    include ../_commonStyles.pug
  body
    #grid
    +pagenav.navbar-light.bg-light
    main.mt-2
      div.container.bg-light.rounded.mb-4
        div.row
          div.col
            if breadcrumps
              nav.my-2(aria-label='breadcrumb')
                ol.breadcrumb
                  each crump, index in breadcrumps
                    - var crumpActive= index+1===breadcrumps.length
                    li(class=crumpActive ? 'breadcrumb-item active' : 'breadcrumb-item', aria-current=crumpActive ? 'page' : '')
                      if crumpActive
                        = __(crump.title)
                      else
                        a(href=crump.link)= __(crump.title)

            block content
    include ../_commonScripts.pug
