doctype html
html
  head
    meta(charset='utf-8')
    meta(name='viewport', content='width=device-width, initial-scale=1, shrink-to-fit=no')
    meta(charset='UTF-8')
    title= title
    link(rel='stylesheet', href='/styles/bootstrap.min.css')
    link(rel='stylesheet', href='/styles/main.css')
  body
    #grid
    include ../_navbar.pug
    main.mt-2
      div.container.bg-light.rounded
        div.row
          div.col
            if breadcrumps
              nav.my-2(aria-label='breadcrumb')
                ol.breadcrumb
                  each crump, index in breadcrumps
                    - var crumpActive= index+1===breadcrumps.length
                    li(class=crumpActive ? 'breadcrumb-item active' : 'breadcrumb-item', aria-current=crumpActive ? 'page' : '')
                      if crumpActive
                        = crump.title
                      else
                        a(href=crump.link)= crump.title

            block content
    script(src='/js/jquery.min.js')
    script(src='/js/bootstrap.bundle.min.js')
