extends manage_layout.pug

include ../includes/_modals.pug
include ../includes/_forms.pug

mixin userRoles(suffix)
    div.container
        div.row
            each role in roles
                - var inputName = `r_${role._id}_${suffix}`
                div.form-check.mx-2
                    input.form-check-input(type='checkbox',
                                        name=inputName, id=inputName)
                    label.form-check-label(for=inputName)= role.name

block content
    span.table-add.float-right.mb-3.mr-2
        a.text-success(href='#', data-toggle='modal', data-target='#addUserModal')
            i.fas.fa-plus.fa-2x(aria-hidden='true')
    table.data-table.table.table-responsive-md#usersTable(data-page-length='25',
                                                        data-action-column='2',
                                                        data-delete-modal='#deleteUserModal',
                                                        data-edit-modal='#editUserModal',
                                                        data-edit-form='#editUserForm',
                                                        data-order='[[ 0, "asc" ]]',
                                                        data-ajax='/manage/users/list',
                                                        data-columns='[{"data": "name"},{"data": "roles"},{"data": "_id"}]')
        colgroup
            col(width='50%')
            col(width='50%')
            col(width='1')
        thead
            tr
                th= __('Name')
                th= __('Roles')
                th= __('Action')

    +modal('addUserModal',
                __('Add User'),
                __('Add'),
                __('Abort'),
                'addUserForm',
                __('Error while transmitting data'))(class='clear-form')
        form.ajaxForm#addUserForm(data-modal='#addUserModal',
                                data-error='#addUserModalError',
                                data-redraw-table='#usersTable'
                                method='post',
                                action='/manage/users')
            +editFormInput('name', __('Name'), __('Full Name'), true)
            +editFormInput('email', __('Email'), __('Email-Address'), true, 'email')
            +editFormInput('password', __('Password'), __('Enter a strong password'), true, 'password')
            +editFormInput('password2', __('Repeat'), __('Repeat the password'), true, 'password')
            +editFormGroup('roles', __('Roles'))
                p.font-weight-bold= __('User Roles')
                +userRoles('n')

    +deleteModal('deleteUserModal',
                __('Remove User'),
                __('Error while sending request'),
                '/manage/users/{id}',
                '#usersTable')
        p= __('Remove this user?')

    +modal('editUserModal',
            __('Edit User'),
            __('Save'),
            __('Abort'),
            'editUserForm',
            __('Error while transmitting data'))
        form.ajaxForm#editUserForm(data-modal='#editUserModal',
                                    data-error='#editUserModalError',
                                    data-redraw-table='#usersTable',
                                    data-fill-method='GET'
                                    method='PUT',
                                    action='/manage/users/{id}')
            +editFormInput('name', __('Name'), __('Full Name'), true)
            +editFormInput('email', __('Email'), __('Email-Address'), true, 'email')
            +editFormInput('password', __('Password'), __('Enter a strong password'), false, 'password')
            +editFormInput('password2', __('Repeat'), __('Repeat the password'), false, 'password')
            +editFormGroup('roles', __('Roles'))
                p.font-weight-bold= __('User Roles')
                +userRoles('e')
                div.alert.alert-info= __('Changing roles takes effect only after a fresh login')
